<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Blog{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets  'vendor/bootstrap/css/bootstrap.min.css'        filter='cssrewrite'
                            'css/styles.css'                                filter='cssrewrite'
                            'vendor/fontawesome/css/font-awesome.min.css'   filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}">
                <link rel="stylesheet" href="{{ asset_url }}">
                <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="search-bar">
            <form method="GET" action="" class="js-sea-search sea-search">
                <input type="search" name="q" placeholder="Search Sea Creatures" autocomplete="off" class="search-input">
            </form>
        </div>
        <header class="header">
            <img class="logo-icon" src="{{ asset('images/aquanote-logo.png') }}">
            <h1 class="logo">AquaNautis</h1>
            <ul class="navi">
                <li class="search"><a href="#" class="js-header-search-toggle"><i class="fa fa-search"></i></a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </header>

        <div class="main-content">
            {% block body %}{% endblock %}
        </div>

        <div class="footer">
            <p class="footer-text">Made with <span class="heart"><3</span> <a href="https://knpuniversity.com">KnpUniversity</a></p>
        </div>

        {% block javascripts %}
            {% javascripts 'js/main.js' %}
            <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
